.container{
    background-color: aqua;
    height: 500px;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr); 
    gap: 10px;
} 
.box{
    background-color: yellow;
    border: 1px solid black;
    
    
}
#box1{
   grid-column-start: 1;
   grid-column-end: 3;
}

#box3{
    grid-row-start: 2;
    grid-row-end: 4;
} 