
        #first{
            background-color: aqua;
            color: rgb(1, 134, 251);
           
        }
        #second{
            background-color: bisque;
        }
        .red{
            background-color: beige;
        }
        .red.blue{
            background-color: brown;
            color: rgb(57, 253, 3);
        }
       *{
        margin:10;
        padding:10;
       }