div{
    background-color: #e4f9f5;
   
}
body{
    margin: 0px;
}
h1{
    margin-top: 0px;
}

/* ye jo hmne kra hai ye uoper body and h1 m ise hm aise bhi kr skte hai *{margin: 0;
                  padding: 0;
                } */